body,
html {
  font-family: "Microsoft YaHei";
  background: #EFEFEF;
  overflow-x: hidden;
}
input,
select,
button,
h5,
div,
section,
li,
a,
ol,
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover,
a:focus {
  outline: none;
  text-decoration: none;
  color: #000;
}
#header {
  background: #FF841D;
  width: 100%;
  height: 50px;
  position: relative;
  line-height: 50px;
}
#header .logo {
  position: absolute;
  left: 10px;
}
#header .logo img {
  width: 200px;
}
#header .download_app {
  position: absolute;
  right: 10px;
}
#header .download_app img {
  height: 30px;
}
#search {
  width: 100%;
  padding: 10px;
  background: #fff;
}
#search form {
  position: relative;
  padding-right: 70px;
}
#search form input {
  font-size: 12px;
  border: 0;
  width: 100%;
  background: #F1F1F1;
  height: 30px;
  border-radius: 15px;
  text-indent: 2em;
}
#search form a {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 30px;
  border-radius: 15px;
  width: 60px;
  color: #fff;
  background: #FF841D;
  padding: 0;
  line-height: 30px;
}
#commodity_list #accordion .panel-default {
  margin-top: 0px;
}
#commodity_list #accordion .panel-default .panel-heading {
  background: #EDEDED;
}
#commodity_list #accordion .panel-default .panel-heading a {
  display: block;
  font-weight: bold;
  background: url("../images/arrow1.gif") no-repeat right center;
}
#commodity_list #accordion .panel-default .panel-body {
  background: #F9F9F9;
  padding: 0px;
}
#commodity_list #accordion .panel-default .panel-body .row > div {
  padding: 10px 0;
  text-align: center;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
#footer {
  height: 100px;
  text-align: center;
}
#footer .footer_top > div {
  padding: 10px;
  border: 1px solid #ccc;
  border-left: 0px;
  text-align: center;
}
#footer .footer_top > div:last-child img {
  width: 15px;
  vertical-align: top;
}
#footer .footer_bottom a {
  color: red;
}
#footer .footer_bottom p {
  color: #ccc;
}
