body,
html {
  font-family: "Microsoft YaHei";
  background: #EFEFEF;
  overflow-x: hidden;
}
input,
select,
button,
h5,
div,
section,
li,
a,
ol,
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover,
a:focus {
  outline: none;
  text-decoration: none;
  color: #000;
}
#header {
  background: #FF841D;
  width: 100%;
  height: 50px;
  position: relative;
  line-height: 50px;
}
#header .logo {
  position: absolute;
  left: 10px;
}
#header .logo img {
  width: 200px;
}
#header .download_app {
  position: absolute;
  right: 10px;
}
#header .download_app img {
  height: 30px;
}
#search {
  width: 100%;
  padding: 10px;
  background: #fff;
}
#search form {
  position: relative;
  padding-right: 70px;
}
#search form input {
  font-size: 12px;
  border: 0;
  width: 100%;
  background: #F1F1F1;
  height: 30px;
  border-radius: 15px;
  text-indent: 2em;
}
#search form a {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 30px;
  border-radius: 15px;
  width: 60px;
  color: #fff;
  background: #FF841D;
  padding: 0;
  line-height: 30px;
}
#commodity_title {
  background: #EFEFEF;
  position: relative;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
#commodity_title .breadcrumb {
  margin-bottom: 0px;
}
#commodity_title .breadcrumb li:before {
  content: "";
  padding: 0;
}
#commodity_title .breadcrumb li:after {
  content: ">";
}
#commodity_title .btn-default {
  position: absolute;
  top: 3px;
  right: 10px;
  height: 30px;
  background: #E6E6E6;
}
#commodity_list {
  background: #fff;
}
#commodity_list .media {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
#commodity_list .media .media-left img {
  width: 100px;
}
#commodity_list .media .media-body .media-heading {
  line-height: 22px;
}
#commodity_list .media .media-body .price {
  color: #ea3900;
  font-size: 16px;
}
#commodity_list .media .media-body .other {
  font-size: 10px;
  color: #a1a1a1;
}
#pagination {
  position: relative;
  padding-top: 10px;
  background: #fff;
  margin-bottom: 20px;
}
#pagination .dropdown {
  text-align: center;
}
#pagination .dropdown .dropdown-menu {
  padding: 0px;
  margin: 0px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 80px;
  width: 80px;
}
#pagination .dropdown .dropdown-menu li {
  border-bottom: 1px solid #ccc;
}
#pagination .prev {
  position: absolute;
  top: 10px;
  left: 10px;
}
#pagination .next {
  position: absolute;
  right: 10px;
  top: 10px;
}
#footer {
  height: 100px;
  text-align: center;
}
#footer .footer_top > div {
  padding: 10px;
  border: 1px solid #ccc;
  border-left: 0px;
  text-align: center;
}
#footer .footer_top > div:last-child img {
  width: 15px;
  vertical-align: top;
}
#footer .footer_bottom a {
  color: red;
}
#footer .footer_bottom p {
  color: #ccc;
}
